body {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

div#input_data {
    margin-top: 10px;
}

div#result {
    margin-top: 10px;
}

div#illegal_coef {
    background-color: rgba(255, 81, 0, 0.58);
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

table {
    margin-top: 20px;
    border-spacing: 0px;
    border-top: 1px solid;
    border-left: 1px solid;
    width: 50%;
}

th {
    border-right: 1px solid;
    border-bottom: 1px solid;
}

td {
    border-right: 1px solid;
    border-bottom: 1px solid;
}

tr.first_color {
    background-color: cyan;
}

tr.second_color {
    background-color: pink;
}

button#calculate {
    margin-top: 10px;
}
